{%extends "./../../base.html"%}

{% block title %} Password Reset Done {% endblock %}

{% block content %}

<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Password Reset Done</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Password Reset Done</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="contact-area py-5" style="background-image: url(/static/agrul/assets/img/shape/28.png);">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow-lg rounded px-3 mt-5 pt-5">
                    <div class="card-body">
                        <div class="left">
                            <div class="header">
                                <h1 class="text-center"> Email sent </h1>
                            </div>
                        </div>
                        <div class="right">
                            <div class="body">
                                <div class="alert alert-info">
                                    A message to reset your password has been sent to your email.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}