{% extends "./../../base.html" %}

{% block title %} Password Reset Complete {% endblock %}


{% block content %}
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Password Reset Complete</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Password Changed</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="contact-area py-5" style="background-image: url(/static/agrul/assets/img/shape/28.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow rounded p-4">
                    <div class="py-5">
                        <div class="">
                            <div class="alert alert-info mb-3">
                                Your password has been reset successfully.
                            </div>
                            <div>
                                <a href="{%url 'login' %}" class="btn btn-success bg-success">Proceed to Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}