{% extends './../../base.html' %}
{% load static %}
{% load customtags %}
{% block title %} Password Reset {% endblock %}

{% block content %}

<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Password Reset</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="contact-area py-5" style="background-image: url(/static/agrul/assets/img/shape/28.png);">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card rounded shadow-lg border-0 px-3 mt-5 py-5">
                    <div class="card-body">
                        <div class="left">
                            <div class="header py-3">
                                <h1 class="text-center"> Request Password Reset </h1>
                            </div>
                        </div>
                        <div class="right">
                            <div class="body">
                                <form method="post">
                                    {% csrf_token %}

                                    <div class="input-holder">
                                        {{ form }}
                                    </div>

                                    <div class="py-3">
                                        <button type="submit" name="send" class="btn btn-primary" id="send_btn">
                                            Request password reset
                                        </button>
                                    </div>
                                </form>
                                {% for message in messages %}
                                <div class="login-error mails-failed">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const labels = document.getElementsByTagName('label')
            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.split(':')[0];
            }
        </script>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $(".input-holder").find('label').addClass('d-block mb-2')
        $(".input-holder").find('input').addClass('form-control shadow-none')
    });
</script>
{% endblock %}