{%extends "./../../base.html"%}

{% block title %} Password Change {% endblock %}

{% block navbar %}
{% include 'components/farmerspagemainnavbar.html' %}
{% endblock %}

{% block content %}
<style>
    .helptext ul {
        padding: 10px 20px;
    }

    .helptext ul li {
        list-style-type: lower-roman !important;
        margin-bottom: 6px;
    }
</style>
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Set New Password</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Password Change</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="contact-area py-5" style="background-image: url(/static/agrul/assets/img/shape/28.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow rounded mt-5 px-3 pt-5">
                    <div class="card-body">
                        <div class="left">
                            <div class="header">
                                <h2 class="text-center"> Reset password </h2>
                            </div>
                        </div>
                        <div class="right mt-4">
                            <div class="body">
                                <form method="post">
                                    {% csrf_token %}

                                    <div class="input-holder">
                                        {{ form }}
                                    </div>

                                    <div class="py-3">
                                        <button type="submit" class="btn btn-primary" name="send" id="send_btn">
                                            Reset password
                                        </button>
                                    </div>
                                </form>
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                                {% else %}
                                <div class="alert alert-{{message.tags}}">
                                    {{ message }}
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const labels = document.getElementsByTagName('label')
            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.split(':')[0];
            }
            // Select an element with class errorlist and add 'alert alert-danger to its children as classes'
            const errorlist = document.getElementsByClassName('errorlist')
            for (var i = 0; i < errorlist.length; i++) {
                errorlist[i].childNodes.forEach(element => {
                    element.classList.add('alert', 'alert-danger')
                });
            }
        </script>
        </main>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $(".input-holder").find('label').addClass('d-block mb-2')
        $(".input-holder").find('input').addClass('form-control shadow-none')
    });
</script>
{% endblock %}