{% extends './../base.html' %}
{% load static %}
{% load customtags %}
{% block title %} Contact Us {% endblock %}
{% block content %}
<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Contact Tunda Tamu</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Contact Us 
    ============================================= -->
{% include './../components/contact-form.html' %}
<!-- End Contact -->

{% endblock content %}