{% extends './../base.html' %}
{% load static %}
{% load customtags %}
{% block title %} FAQs {% endblock %}
{% block content %}
<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Question & Answer</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Faq Area 
    ============================================= -->
<div class="faq-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="accordion accordion-regular" id="faqAccordion">
                 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Q1: What is the purpose of the Sweet Yellow Passion Project and Digital Platform?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform supports smallholder farmers by providing them with resources and
                                    services to enhance their agricultural practices. It has established nurseries and
                                    demo farms to provide farmers with quality seedlings and training. The platform also
                                    facilitates access to extension services, input suppliers for fertilizers and
                                    pesticides, and market linkages to connect farmers with potential buyers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Q2: What regions or areas does the Sweet Yellow Passion Project and Digital Platform
                                operate
                                in?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform operates in Kwale, Lamu, Machakos, and Embu. These regions have been
                                    selected to focus on the cultivation and development of sweet yellow passion fruit
                                    farming. The platform aims to create a positive impact on the livelihoods of
                                    smallholder farmers in these areas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Q3: How does the platform create linkages with service providers?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform establishes partnerships and collaborations with various service
                                    providers relevant to sweet yellow passion fruit farming. These service providers
                                    may include extension services that offer agricultural advice and training, input
                                    suppliers that provide necessary farming inputs, and market linkages that connect
                                    farmers with potential buyers. The platform acts as a facilitator to bridge the gap
                                    between farmers and these service providers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Q4: How can smallholder farmers benefit from the nurseries, demo farms, and collection
                                centers?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The nurseries established by the platform provide smallholder farmers with
                                    high-quality seedlings to start their sweet yellow passion fruit cultivation. The
                                    demo farms serve as learning and training centers, showcasing best practices and
                                    techniques. The collection centers offer a centralized location for farmers to bring
                                    their produce, ensuring efficient processing and distribution to market.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Q5: How can farmers access the resources and services provided by the Sweet Yellow
                                Passion
                                Project and Digital Platform?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Farmers can access the platform's resources and services by becoming members and
                                    actively participating in the platform's activities. They can join the network of
                                    smallholder farmers, attend training sessions at the demo farms, knowledge base and
                                    events, obtain seedlings from the nurseries, and utilize the platform's connections
                                    to access extension services, input suppliers, and market linkages.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseFive">
                                Q6: How can interested individuals or organizations get involved with the Sweet Yellow
                                Passion Project and Digital Platform?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Individuals or organizations interested in getting involved can reach out to the
                                    platform through their website or contact information. They can inquire about
                                    partnership opportunities, sale of products, or ways to support the smallholder
                                    farmers. The platform may provide specific guidelines or processes for interested
                                    parties to contribute or collaborate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFive">
                                Q7: What are the expected impacts or outcomes of the Sweet Yellow Passion Project and
                                Digital Platform?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The expected impacts of the platform include improving the livelihoods of
                                    smallholder farmers by providing them with sustainable agricultural practices,
                                    access to quality inputs, and market linkages. The platform aims to increase
                                    productivity, income generation, and economic opportunities for farmers in Kwale,
                                    Lamu, Machakos, and Embu. It also seeks to promote environmental sustainability and
                                    community development in these regions and Kenya as a whole.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseFive">
                                Q8: How can stakeholders interact and collaborate on the platform?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform provides various features and tools to facilitate stakeholder
                                    interaction and collaboration. These may include discussion forums, chat functions,
                                    knowledge-sharing resources, and the ability to form groups or communities based on
                                    shared interests or objectives. Stakeholders can exchange information, seek advice,
                                    and collaborate on projects or initiatives.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFive">
                                Q9: How can buyers find and purchase sweet yellow passion fruit on the platform?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform offers a user-friendly interface where buyers can search for sweet
                                    yellow passion fruit listings, view product details, and directly communicate with
                                    farmers or sellers. It may provide filters for location, quality, quantity, and
                                    price to help buyers find the desired product. Transactions can be facilitated
                                    through secure payment systems integrated into the platform.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseFive">
                                Q10: Can farmers and service providers showcase their expertise on the platform?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Yes, the platform allows farmers and service providers to create profiles or
                                    listings to showcase their expertise, products, and services. They can include
                                    information about their experience, certifications, previous projects, and any
                                    unique selling points. This enables stakeholders to make informed decisions and
                                    build trust in their interactions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseFive">
                                Q11: How does the platform ensure the quality and authenticity of the sweet yellow
                                passion fruit sold?
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform can implement quality control measures to ensure the authenticity and
                                    quality of the sweet yellow passion fruit sold. This may include verification
                                    processes for farmers and their produce, ratings and reviews from buyers, or even
                                    on-site inspections. Additionally, providing transparent information about farming
                                    practices and certifications can help build trust.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseFive">
                                Q12: How can stakeholders provide feedback or report issues on the platform?
                            </button>
                        </h2>
                        <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    The platform will have a dedicated mechanism for stakeholders to provide feedback,
                                    report issues, or seek assistance. This will be through a customer support system,
                                    email. Promptly addressing concerns and resolving issues helps maintain a positive
                                    user experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Faq Area -->
{% endblock %}