{% extends './../base.html' %}
{% load static %}
{% load customtags %}

{% block title %} Welcome to Tunda Tamu {% endblock %}

{% block content %}
{% quick_stats as stats %}
<style>
    .elementor-widget-image-box .elementor-image-box-content {
        width: 100%
    }

    @media (min-width:768px) {

        .elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper,
        .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
            display: flex
        }

        .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
            text-align: right;
            flex-direction: row-reverse
        }

        .elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper {
            text-align: left;
            flex-direction: row
        }

        .elementor-widget-image-box.elementor-position-top .elementor-image-box-img {
            margin: auto
        }

        .elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper {
            align-items: flex-start
        }

        .elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper {
            align-items: center
        }

        .elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper {
            align-items: flex-end
        }
    }

    @media (max-width:767px) {
        .elementor-widget-image-box .elementor-image-box-img {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 15px
        }
    }

    .elementor-widget-image-box .elementor-image-box-img {
        display: inline-block
    }

    .elementor-widget-image-box .elementor-image-box-title a {
        color: inherit
    }

    .elementor-widget-image-box .elementor-image-box-wrapper {
        text-align: center
    }

    .elementor-widget-image-box .elementor-image-box-description {
        margin: 0
    }
</style>
<!-- Start Banner Area
    ============================================= -->
<div class="banner-area navigation-circle text-light text-center banner-style-three-area zoom-effect overflow-hidden">
    <!-- Slider main container -->
    <div class="banner-fade">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Single Item -->
            <div class="swiper-slide banner-style-three">
                <div class="banner-thumb bg-cover shadow dark"
                    style="background: url(/static/agrul/assets/img/products/2.1.JPG);"></div>
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <h2>Ultimate Products <br> & Customers</h2>
                                <div class="button">
                                    <a class="btn btn-theme secondary btn-md radius animation"
                                        href="{% url 'marketplace' %}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-three">
                <div class="banner-thumb bg-cover shadow dark"
                    style="background: url(/static/agrul/assets/img/products/1.1.JPG);"></div>
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <h2>Sweet yellow passion marketplace </h2>
                                <div class="button">
                                    <a class="btn btn-theme secondary btn-md radius animation"
                                        href="{% url 'marketplace' %}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-three">
                <div class="banner-thumb bg-cover shadow dark"
                    style="background: url(/static/agrul/assets/img/products/3.1.jpg);"></div>
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <h2>Ultimate Products <br> & Customers</h2>
                                <div class="button">
                                    <a class="btn btn-theme secondary btn-md radius animation"
                                        href="{% url 'marketplace' %}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-three">
                <div class="banner-thumb bg-cover shadow dark"
                    style="background: url(/static/agrul/assets/img/banner/27_1.png);"></div>
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <h2> Sweet yellow passion <br> fruit marketplace </h2>
                                <div class="button">
                                    <a class="btn btn-theme secondary btn-md radius animation"
                                        href="{% url 'marketplace' %}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide banner-style-three">
                <div class="banner-thumb bg-cover shadow dark"
                    style="background: url(/static/agrul/assets/img/banner/25_1.jpg);"></div>
                <div class="container">
                    <div class="row align-center">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <h2>Ultimate Products <br> & Customers</h2>
                                <div class="button">
                                    <a class="btn btn-theme secondary btn-md radius animation"
                                        href="{% url 'marketplace' %}">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>

        <!-- Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</div>
<!-- End Main -->

<!-- Start Product Features
    ============================================= -->
<div class="product-feature-style-one-area overflow-hidden bg-gray default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-5 mb-xs-50 mb-md-120">
                <div class="product-feature-style-one">
                    <div class="info">
                        <h4 class="info sub-title">Sweet yellow passion at your disposal!</h4>
                        <h2 class="title mb-25 text-center">Identify, Buy & Sell! </h2>
                        <p style="text-align: justify;">
                            Our online marketplace for sweet yellow passion is committed to creating a sustainable
                            and
                            inclusive value chain that benefits all stakeholders. We work directly with smallholder
                            farmers to source the highest quality sweet yellow passion, and our network of service
                            providers includes logistics companies, processors, and suppliers. We offer a variety of
                            sweet yellow passion products, including fresh fruit, seedlings, and service provider
                            services.
                        </p>
                        <!-- <div class="col-md-5"> -->
                        <!-- <div class="choose-us-style-two"> -->
                        <br>
                        <h3 class="info sub-title">Products and Services</h3><br>
                        <div class="content">
                            <ul>
                                <li><i class="far fa-lemon" style="color: #fc9c15;"></i> Sweet Yellow Passion Fruits
                                </li>
                                <li><i class="far fa-lemon" style="color: #fc9c15;"></i> Input supplies</li>
                                <li><i class="far fa-lemon" style="color: #fc9c15;"></i> Market Linkages</li>
                                <li><i class="far fa-lemon" style="color: #fc9c15;"></i> Sweet yellow passion
                                    seedlings
                                </li>
                                <li><i class="far fa-lemon" style="color: #fc9c15;"></i> Stakeholder interaction
                                </li>
                            </ul>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                        <a href="https://www.youtube.com/watch?v=JR2i4bD2Jvs"
                            class="popup-youtube video-play-button with-text mt-15">
                            <div class="effect"></div>
                            <span><i class="fas fa-play"></i> OUR STORY</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="product-features-style-one pl-100 pl-md-15 pl-xs-15 pt-md-120">
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/10144/10144667.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/10144/10144667.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/10144/10144667.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer" data-to="{{stats.farmers}}"
                                                    data-speed="2000">{{stats.farmers}}+</h2>
                                                <h4><a href="#">Farmers</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/3048/3048665.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/3048/3048665.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/3048/3048665.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer" data-to="100"
                                                    data-speed="2000">100+</h2>
                                                <h4><a href="#">TOTs Trained</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/3135/3135722.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/3135/3135722.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/3135/3135722.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer" data-to="650"
                                                    data-speed="2000">650+</h2>
                                                <h4><a href="#">Champion Farmers</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/3037/3037821.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/3037/3037821.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/3037/3037821.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer" data-to="{{stats.counties}}"
                                                    data-speed="2000">{{stats.counties}}+</h2>
                                                <h4><a href="#">Counties</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/10144/10144783.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/10144/10144783.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/10144/10144783.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer"
                                                    data-to="{{stats.demo_farms}}" data-speed="2000">
                                                    {{stats.demo_farms}}+</h2>
                                                <h4><a href="#">Demo Farms</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-feature-item" style="background-color: #fc9c15; border-radius: 5%;">
                        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-b93ae2b"
                            data-id="b93ae2b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-7499126 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                    data-id="7499126" data-element_type="widget" data-widget_type="image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image-box-wrapper">
                                            <figure class="elementor-image-box-img">
                                                <img decoding="async" width="120" height="111"
                                                    src="https://cdn-icons-png.flaticon.com/512/1057/1057377.png"
                                                    class="attachment-full size-full wp-image-1936 lazyloaded" alt=""
                                                    data-src="https://cdn-icons-png.flaticon.com/512/1057/1057377.png">
                                                <noscript>
                                                    <img decoding="async" width="120" height="111"
                                                        src="https://cdn-icons-png.flaticon.com/512/1057/1057377.png"
                                                        class="attachment-full size-full wp-image-1936" alt=""
                                                        data-eio="l" />
                                                </noscript>
                                            </figure>
                                            <div class="elementor-image-box-content">
                                                <h2 class="elementor-image-box-title timer"
                                                    data-to="{{stats.collection_centers}}" data-speed="2000">
                                                    {{stats.collection_centers}}+</h2>
                                                <h4><a href="#">Collection Centers</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Product Features -->

<!-- Start Product
    ============================================= -->
<div class="product-style-one-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5 class="sub-title">Customers’ Choice</h5>
                    <h2 class="title">Featured Products</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
        <div class="carousel-inner">
            {% for product in featured_products %}
            {% if forloop.first or forloop.counter0|divisibleby:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        {% endif %}
                        <div class="col-xl-3 col-md-6">
                            <div class="product">
                                {% include './../components/product_card.html' with product=product %}
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- End Product -->

<!-- Start Testimonials
    ============================================= -->
<div class="testimonials-area default-padding bg-gray" style="background-image: url(/static/agrul/assets/img/shape/23.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5 class="sub-title">Customer and Partner feedback </h5>
                    <h2 class="title">Testimonials</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-12 offset-lg-1">
                <div class="testimonial-carousel testimonial-style-one swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-two row">
                                <div class="col-md-6">
                                    <img src="{% static 'agrul/assets/img/farmers/1.1.jpg' %}" alt="Image Not Found" class="rounded mx-auto d-block">
                                </div>
                                <div class="item col-md-6">
                                    <div class="content">
                                        <p>
                                            “Sweet Yellow Passion has transformed the farming community by providing
                                            high-quality seedlings, creating job opportunities, and making it easier for
                                            farmers to access markets and sell their produce.”
                                        </p>
                                    </div>
                                    <div class="provider">
                                        <div class="info">
                                            <h4>Simon Kamutu</h4>
                                            <span>Chairman</span> <br>
                                            <span>Nguumo Farmers Self Help Group</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-two row">
                                <div class="col-md-6">
                                    <img src="{% static 'agrul/assets/img/farmers/2.2.jpg' %}" alt="Image Not Found" class="rounded mx-auto d-block">
                                </div>
                                <div class="item col-md-6">
                                    <div class="content">
                                        <p>
                                            “The sweet yellow passion fruit project provided comprehensive and practical
                                            training sessions to equip farmers with the knowledge and skills to
                                            cultivate successfully.”
                                        </p>
                                    </div>
                                    <div class="provider">
                                        <div class="info">
                                            <h4>Duncan Makau</h4>
                                            <span>Secretary</span> <br>
                                            <span>Musingini CBO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-two row">
                                <div class="col-md-6">
                                    <img src="{% static 'agrul/assets/img/farmers/4.4.jpg' %}" alt="Image Not Found" class="rounded mx-auto d-block">
                                </div>
                                <div class="item col-md-6">
                                    <div class="content">
                                        <p>
                                            “The sweet yellow passion fruit project provided comprehensive training
                                            programs to equip smallholder farmers with knowledge and skills to cultivate
                                            the fruit effectively.”
                                        </p>
                                    </div>
                                    <div class="provider">
                                        <div class="info">
                                            <h4>Jeremiah Nyori</h4>
                                            <span>Director</span> <br>
                                            <span>Value Chain Department, JKUAT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!--single item-->
                        <div class="swiper-slide">
                            <div class="testimonial-style-two row">
                                <div class="col-md-6">
                                    <img src="{% static 'agrul/assets/img/farmers/3.3.jpg' %}" alt="Image Not Found" class="rounded mx-auto d-block">
                                </div>
                                <div class="item col-md-6">
                                    <div class="content">
                                        <p>
                                            “Kama kikundi cha wanawake kinachoshiriki kikamilifu katika mradi wa matunda
                                            ya passion ya manjano, tunashukuru sana kwa fursa iliyotolewa na mradi huu.
                                            Maarifa haya yametuimarisha si tu kujiamini lakini pia kuboresha kipato
                                            chetu na maisha yetu kwa ujumla.”
                                        </p>
                                    </div>
                                    <div class="provider">
                                        <div class="info">
                                            <h4>Women Farmer</h4>
                                            <span>Masinga Mixed Farmers</span> <br>
                                            <span>Masinga, Machakos County</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start events area -->
{% events 'new_events' as new_events %}
{% if new_events|length > 0 %}
<div class="gallery-style-one-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5 class="sub-title">Upcoming Events</h5>
                    <h2 class="title">Events</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% for event in new_events|slice:":3" %}
            <div class="col-xl-4 col-md-6 single-item">
                {% include './../components/event_card.html' with event=event upcoming=True %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- End events area -->

<!-- Partners area -->
<div class="gallery-style-one-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5 class="sub-title">Who we work with</h5>
                    <h2 class="title">Partners</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="carousel-stage-right swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="">
                                <a href="https://kwalecountygov.com/kwale/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\1.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="">
                                <a href="https://lamu.go.ke/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\2.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="">
                                <a href="https://sotehub.com/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\3.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="">
                                <a href="https://www.embu.go.ke/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\4.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="">
                                <a href="http://www.jkuat.ac.ke/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\5.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="">
                                <a href="https://e4iaccelerator.org/" target="_blank" rel="noopener">
                                    <img src="static\agrul\assets\img\partners\6.png" class="card-img-to" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End of partners area -->

<!-- Start Contact Us
    ============================================= -->
{% include './../components/contact-form.html' %}
<!-- End Contact -->
{% endblock %}