{% extends './../../base.html' %}
{% block title %} Collection Centers {% endblock title %}


{% load static %}
{% load customtags %}

{% block content%}
<style>
    .map {
        width: 100%;
        height: 450px;
        border-radius: 10px;
    }
</style>
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/agrul/assets/img/banner/25_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Collection Centers</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Collection Centers</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="blog-area blog-grid full-blog default-padding">
    <div class="container">
        <div class="blog-item-box">
            <h2 class="mb-3">Collection Centers</h2>
            {% if collection_centers|length == 0 %}
            <div class="alert alert-info">
                <p class="text-center p-0 m-0">No Collection Centers Found</p>
            </div>
            {% endif %}
            <div class="row">
                {% for collection in collection_centers %}
                <div class="col-md-3 mb-3">
                    <div class="card border-0 shadow">
                        <div style="height: 200px;">
                            <img src="{% if collection.image %} {{collection.image.url}} {% endif %}"
                        class="card-img-top" alt="{{collection.title}}">
                        </div>
                        <div class="card-body text-start">
                            <h5 class="card-title ">{{collection.title}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}