{% load humanize %}
{% load customtags %}
<div class="card" style="border-radius: 10px;">
    <div class="card-body">
        <div class="blog-style-one">
            <div class="thumb" style="height: 300px; background: rgba(245, 245, 245, 0.6); border-radius: 10px;">
                {% if event.image %}
                <div class="h-100 bg-danger" style="overflow: hidden;">
                    <a href="javascript:void(0)" class="bg-danger d-flex justify-content-center">
                        <img src="{{event.image.url}}" alt="{{group.title}}"
                            style="max-height: 100%; object-fit: fill;">
                    </a>
                </div>
                {% endif %}
                {% with event.date|tokenize_date as event_date_data %}
                <div class="date"><strong>{{event_date_data.day}}</strong> <span>{{event_date_data.month}},
                        {{event_date_data.year}}</span></div>
                {% endwith %}
            </div>
            <div class="info">
                <h3 class="title">
                    <a href="javascript:void(0)">
                        {{event.title}}
                    </a>
                </h3>

                <button class="btn btn-primary btn-sm mt-2" data-bs-target="#preview-modal" data-bs-toggle="modal"
                    data-bs-title="{{event.title}}"
                    data-bs-content="<img src='{% if event.image %}{{event.image.url}}{% endif %}' alt='{{event.title}}' class='w-100' /></br>{{event.description}}</br>Venue: {{event.venue}} <br> Date: {{event.date}} <div class='vr' style='height: 20px'></div> {% if upcoming %} {{event.date|timeuntil}} Remaining {% else %} {{event.date|timesince}} Ago {% endif %}">
                    Event Information
                </button>
            </div>
        </div>
    </div>
</div>