{% load static %}
{% load customtags %}

<!-- Header 
    ============================================= -->
<header>
    <!-- Start Navigation -->
    <nav class="navbar mobile-sidenav inc-shape navbar-common navbar-sticky navbar-default validnavs">

        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container-xl">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <div class="container-full d-flex justify-content-between align-items-center">


            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'agrul/assets/img/thumb/logo_giz-removebg-preview.png' %}" class="logo" alt="Logo" style="max-width: 100px;">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">

                <img src="{% static 'agrul/assets/img/thumb/logo_giz-removebg-preview.png' %}" alt="Logo" style="max-width: 100px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-times"></i>
                </button>

                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'marketplace' %}">Marketplace</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Interact</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'interact' %}">Interact</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'farmers' %}">Farmers</a></li>
                            <li><a href="{% url 'all-providers' %}">All Providers</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'knowledgebase' %}">Knowledge Base</a></li>
                            <li><a href="{% url 'events' %}">Events</a></li>
                            <div class="divider"></div>
                            <li><a href="{% url 'nurseries' %}">Nurseries</a></li>
                            <li><a href="{% url 'demofarms' %}">Demo Farms</a></li>
                            <li><a href="{% url 'collection' %}">Collection Centers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Stakeholders</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'farmergroups' %}">Farmer groups</a></li>
                            {% for provider in 'providers'|providers %}
                            <li>
                                <a href="{% url 'single-provider' provider.value %}">{{provider.label}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">More</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="{% url 'faq' %}">Faq</a></li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            <li>
                                <p class="ps-3">Welcome back {{request.user.username}}, </p>
                            </li>
                            <li><a href="{% url 'account_profile' %}">Profile</a></li>
                            <li><a href="{% url 'account_orders' %}">My Orders</a></li>
                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'dashboard' %}">Go to Super Admin</a></li>
                            {% endif %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Register</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'farmersignup' %}">Farmer</a></li>
                            <li><a class="dropdown-item" href="{% url 'enumeratorsignup' %}">Enumerator</a></li>
                            <li><a class="dropdown-item" href="{% url 'aggregator_signup' %}">Aggregator</a></li>
                            <li><a class="dropdown-item" href="{% url 'service_provider_signup' %}">Service Provider</a>
                        </ul>
                    </li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->

            <div class="attr-right">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="far fa-shopping-cart"></i>
                                <span class="badge" id="navbar-count">0</span>
                            </a>
                            <ul class="dropdown-menu cart-list">
                                <div id="navbar-cart"></div>
                                <li class="total">
                                    <span class="pull-right"><strong>Total</strong>Kes: <span id="navbar-total"></span></span>
                                    <a href="javascript:void(0)" class="btn btn-default btn-cart">Cart</a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-cart">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search"><a href="#"><i class="far fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="#">
                                <span class="bar-1"></span>
                                <span class="bar-2"></span>
                                <span class="bar-3"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="icon_close"></i></a>
                    <div class="widget">
                        <div class="logo">
                            <img src="{% static 'agrul/assets/img/thumb/logo_giz-removebg-preview.png' %}" alt="Logo">
                        </div>
                        <p>
                            Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now
                            easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may
                            purse means few blind.
                        </p>
                    </div>
                    <div class="widget address">
                        <div>
                            <ul>
                                <li>
                                    <div class="content">
                                        <p>Address</p>
                                        <strong>E4impact Entreprenuership Center, Kenya Karen, <br> Ushirika Road, Nairobi, Kenya</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Email</p>
                                        <strong>info@tundatamu.co.ke</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>Contact</p>
                                        <strong><a href="tel:+254712526952">+254712526952</a></strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget newsletter">
                        <h4 class="title">Get Subscribed!</h4>
                        <form action="index-3.html#">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="arrow_right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="widget social">
                        <ul class="link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->

            </div>
            <!-- Main Nav -->

        </div>

        <!-- Overlay screen for menu -->
        <div class="overlay-screen"></div>
        <!-- End Overlay screen for menu -->

    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->