{% load static %}
{% load humanize %}
<div class="product-contents text-center p-3">
    <div class="product-image">
        <a href="javascript:void(0)" style="height: 180px; overflow: hidden; background: rgba(245, 245, 245, 0.60); border-radius: 10px;">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="Product" style="max-height: 100%;">
            {% endif %}
        </a>
        <div class="shop-action">
            <ul>
                <li class="cart">
                    <a href="javascript:void(0)" onclick="addToCart('{{product.id}}', '{% if product.image %}{{product.image.url}}{% endif %}', '{{product.name}}', '{{product.price}}')"><span>Add to cart</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="product-caption">
        <div class="product-tags">
            <!-- <a href="shop.html#">Crop</a>
            <a href="shop.html#">Organic</a> -->
            <a href="javascript:void(0)">{{product.category.name}}</a>
        </div>
        <h4 class="product-title">
            <a href="javascript:void(0)">{{product.name}}</a>
        </h4>
        <!-- <div class="review-count">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>8 Reviews</span>
        </div> -->
        <div class="price">
            <span>Kes {{product.price|intcomma}}</span>
        </div>
    </div>
</div>